
button{
  background-color: #06BCC1;
  border: none;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

.projectcolumn{
  display: flex;
}

/*homepage hero*/
.hero{
  background-image: url(../images/hero.png);
  max-height: 767px;
  background-size: cover;
  background-repeat:no-repeat;
  padding: 30px;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 72px;
  color: white;
  font-weight: bold;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 34pt;
  color: white;
  font-weight: lighter;
}

h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 30pt;
  color: black;
  font-weight: bold;
}

p{
  font-family: 'Open Sans', sans-serif;
  font-size: 24pt;
  color: black;
  font-weight: normal;
}

div{

}

.welcome{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  line-height: normal;
}

.logo{
  width: 130px;
  height: 130px;
}


/*nav bar*/
body {
  font-family: 'Open Sans', sans-serif;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

/*end nav bar*/
